$transition : all 400ms ease;

$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

.header {
  position: sticky;
  top: 0;
  left: 0;
  background: $negro;
  z-index: 10;
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3.5rem;
  cursor: pointer;
}

.wide_nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    font-size: 1.1rem;
  }

}

.responsive_nav {
  display: none;
}

.burger {
  color: $blanco;
  font-size: 2rem;
  cursor: pointer;
}

.inside_menu {
  background: $blanco;
  opacity: 95%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {

    li {
      border-bottom: 1px solid $negro;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
  }

  a {
    color: $negro;
    &:hover {
      color: $primary;
    }
  }
}

.icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  font-size: 3rem;
  color: rgb(155, 23, 23);
}


@media screen and (max-width: 768px) {

  .wide_nav {
    display: none;
  }

  .responsive_nav {
    display: block;
  }
}
