$transition : all 400ms ease;

$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

.header {
  background: $negro;
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3.5rem;
  display: flex;
}

.wide_nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    font-size: 1.1rem;
  }

}

.responsive_nav {
  display: none;
}

.burger {
  color: $blanco;
  font-size: 2rem;
  cursor: pointer;
}


@media screen and (max-width: 768px) {

  .wide_nav {
    display: none;
  }

  .responsive_nav {
    display: block;
  }
}
