@mixin h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.title2 {
  width: 75%;
  margin: 0 auto 5rem auto;

  h2 {
    @include h2;
    max-width: 60%;
  }


}

@media screen and (max-width: 1279px) {
    .title2 {
        width: 90%;

        h2 {
            max-width: 75%;
        }
    }
}

@media screen and (max-width: 768px) {
    .title2 {

        h2 {
            max-width: 100%;
        }
    }
}

