$negro: #000000;
$blanco: #ffffff;
$primary: #2b2bff;
$transition: all 400ms ease;

@mixin btn() {
  width: max-content;
  display: inline-block;
  color: $blanco;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: $transition;
  background: $primary;
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 0.8em;

  &:hover {
    background: $negro;
    color: $blanco;
  }
}

.section {
  margin-bottom: 3rem;
}

.square {
  background: $blanco;
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.banner {
  width: 90%;
  margin: 0 auto;
  color: $negro;
  padding: 0 0.5em;

  display: grid;
  grid-template-columns: 1fr 1fr;

  place-items: center;

  position: relative;
}

.content {
  z-index: 5;

  h1 {
    color: $primary;
    width: 50%;
    text-transform: uppercase;
    line-height: 1.3em;
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.9em;
    font-weight: 500;
  }

  a {
    @include btn;
  }
}

.foto {
  z-index: 5;
  max-width: 25rem;
  filter: drop-shadow(-27px 0px 15px rgba(0, 0, 0, 0.35));
}

.intro {
  background: $primary;
  width: 90%;
  margin: 2em auto 0 auto;
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  a {
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
      color: $blanco;
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 0 1em;
  }

  .content {
    font-size: 25px;
  }

  .foto {
    width: 80%;
  }

  .intro {
    p {
      font-size: 1.1em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section {
    position: relative;
  }

  .square {
    height: 80%;
  }

  .banner {
    width: 80%;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
    place-content: end;
  }

  .foto {
    width: 90%;
  }

  .content {
    font-size: 35px;
    margin-bottom: 3em;

    h1 {
      line-height: 1.2em;
    }

    h2 {
      font-size: 1.3rem;
    }

    a {
      font-size: 1rem;
    }
  }

  .intro {
    z-index: 5;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 2em;
    p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1600px) {


  .content {
    font-size: 50px;
    margin-bottom: 0;
  }

  .intro {
    width: 40%;
  }

}
