.wave_animation {
  position: relative;
  width: 100%;
  height: 143px;
  background-size: cover;
  background-attachment: fixed;
}
.wave_animation .wave {
  position: absolute;
  width: 100%;
  height: 143px; /*PNG*/
  top: 0;
  left: 0;
  background-image: url("https://vitalflow.com.ar/img/anim-onda.png");
animation: anim 10s linear infinite;
}
.wave_animation .wave:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 143px;
  top: 0;
  left: 0;
  background-image: url("https://vitalflow.com.ar/img/anim-onda.png");
  opacity: 0.4;
animation: anim-rev 10s linear infinite;
}
.wave_animation .wave:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 143px;
  top: 0;
  left: 0;
  background-image: url("https://vitalflow.com.ar/img/anim-onda.png");
  opacity: 0.6;
animation-delay: -5s;
animation: anim 20s linear infinite;
}
@keyframes anim {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}
@keyframes anim-rev {
  0% {
    background-position: 1360;
  }
  100% {
    background-position: 0px;
  }
}
