
$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

$transition: all 400ms ease;


.content_section {
    margin-bottom: 0;
}

.article {
    margin-bottom: 5rem;
}

.container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    gap: 1em;

    h2 {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 4px;
        text-align: center;
    }

    p {
        font-size: 1.1em;
        font-weight: 400;

        strong {
            font-weight: 700;
            color: #3030d7;
        }
    }

    ul {
        padding-left: 1em;
    }
}

.list {
    dt {
        font-size: 1.3em;
        font-weight: 700;
    }

    dd {
        font-size: 1.1em;
    }

    margin-bottom: 1em;

    
    strong {
        font-weight: 700;
        color: #3030d7;
    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .article {
        margin-bottom: 10rem;
    }
}