$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

@mixin h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

$transition: all 400ms ease;

.testi_section {
  h2 {
    @include h2();
    margin-bottom: 3rem;
  }
}

.testi_container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1em;
}

.item {
  background: $primary;
  padding: 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  cursor: default;
  transition: $transition;

  .text {
    display: inline;
    width: 100%;
  }

  h4 {
    span {
      font-weight: 300;
      font-style: italic;
      font-size: 0.9rem;
    }
  }

  p {
    color: #c9c9c9;
  }

  .foto {
    width: 5rem;
    border: 3px solid $blanco;
    border-radius: 100%;
    display: flex;
    img {
      border-radius: 100%;
    }
  }

  &:hover {
    background: $negro;
    border: 1px solid $blanco;
  }
}

.swipe_container {
  display: none;
}

.swipe {
  display: none;
}

// Laptops
@media screen and (max-width: 1280px) {
  .testi_container {
    width: 90%;
  }
}

// Tablets
@media screen and (max-width: 768px) {
  .testi_container {
    display: none;
  }

  .swipe_container {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-bottom: 3rem;
  }

  .swipe {
    display: block;
    margin: 0 auto;
    width: 90%;
    text-align: end;
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
}
