@mixin btn() {
  width: max-content;
  display: inline-block;
  color: $blanco;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: $transition;
  background: $primary;
  border: 1px solid transparent;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1em;

  &:hover {
    background: transparent;
    border-color: $primary;
    color: $blanco;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

$transition: all 400ms ease;

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
  padding: 3rem 0;
}

.container {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 3em;
}

.img_container {
  animation: float 3s ease-in-out infinite;
}

.content {
  h1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.btn {
  display: flex;

  a {
    @include btn;
  }
}


@media screen and (min-width: 768px) {


  .container {
    width: 80%;
  }

  .img_container {
    max-width: 30rem;
    margin: auto;
  }

  .content {
    font-size: 18px;
  }

}

@media screen and (min-width: 1024px) {

  .section {
    height: 100vh;
    margin-bottom: 0;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .img_container {
    max-width: auto;
    width: 100%;
  }

  .content {
    font-size: 16px;
    gap: 1rem;
    align-items: center;

    p {
      max-width: 90%;
      text-align: center;
    }
  }



}


