@mixin btn() {
  width: max-content;
  display: inline-block;
  color: $blanco;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: $transition;
  background: $primary;
  border: 1px solid transparent;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1em;

  &:hover {
    background: transparent;
    border-color: $primary;
    color: $blanco;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

$transition: all 400ms ease;

.section {
  padding-top: 3rem;
}

.container {
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    color: #cccccc;
  }
}

.btn {
  @include btn;

  a {
    &:hover {
      color: white;
    }
  }
}

.img_container {
  animation: float 3s ease-in-out infinite;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }

  .content {
    font-size: 18px;
  }

  .img_container {
    width: 70%;
  }
}

@media screen and (min-width: 1020px) {
  .section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }

  .content {
    font-size: 15px;
    text-align: start;
  }
}

@media screen and (min-width: 1600px) {
  .content {
    font-size: 18px;
  }
}
