.hero {
  background: white;
  color: black;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20em;
    line-height: 1em;
  }
}

$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

$transition: all 400ms ease;

.section {
  margin-top: 6rem;
}

.container {
  width: 85%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4em;
  place-items: center;
}

.descri {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3em;

  h4 {
    font-weight: 400;
    font-size: 1.3em;
    color: rgb(184, 184, 184);
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.1rem;
    color: rgb(184, 184, 184);
  }
}

.logo {
  width: 4em;
}

.socials {
  display: flex;
  gap: 1em;

  a {
    border-radius: 0.8rem;
    background: $blanco;
    color: $negro;
    padding: 10px;
    display: flex;
    &:hover {
      background: $primary;
      color: $blanco;
    }
  }

  .icon {
    font-size: 1.8em;
  }
}

.curiosidades_container {
  width: 85%;
  margin: 0 auto;
  border: 2px solid $blanco;

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 1rem;
  box-shadow: 15px 15px 0 $blanco;
  margin-bottom: 4rem;

  h4 {
    grid-column: 1/3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5rem;
  }

}

.list {
  color: rgb(184, 184, 184);
  list-style: circle;
  padding-left: 2rem;

  li {
    font-size: 1.1em;
    margin-bottom: 1.3rem;
  }
}

.cv {
  width: 9rem;
  border: 1px solid $blanco;
  padding: 1em .5em;
  text-align: center;
  border-radius: 8px;
  transition: $transition;
  &:hover {
    background: $primary;
    color: $blanco;
    border-color: transparent;
  }
}

// Laptops
@media screen and (max-width: 1280px) {
  .hero {
    font-size: 11px;
  }

  .container {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }

  .descri {
    p {
      font-size: 1rem;
    }
  }

  .curiosidades_container {
    font-size: 15px;
    width: 90%;
  }
}

// Tablets
@media screen and (max-width: 768px) {
  .section {
    margin-top: 3rem;
  }

  .hero {
    font-size: 7.5px;
  }

  .container {
    font-size: 15px;
    grid-template-columns: 1fr;
  }

  
  .curiosidades_container {
    width: 85%;
    grid-template-columns: 1fr;

    h4 {
        grid-column: 1/2;
    }
  }

}

// Phones
@media screen and (max-width: 500px) {
  .hero {
    font-size: 5.8px;
  }
}
