@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

$negro: #000000;
$primary: #2b2bff;
$blanco: #ffffff;

$transition: all 400ms ease;

* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  // list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  background: $negro;
  color: $blanco;
  line-height: 1.7;
}

::-webkit-scrollbar {
  background: $negro;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

a {
  color: $blanco;
  transition: $transition;
}

a:hover {
  color: $primary;
}

section {
  margin-bottom: 6rem;
}

.swiper-pagination-bullet {
  background: $primary !important;
}

.icon {
  font-size: 4.5rem;
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 3.5rem;
  }
}
