@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Outfit", sans-serif;
  background: black;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.titulos {
  @apply text-center mb-5 tracking-[.5em] uppercase font-light text-xl;
}

.container-txt {
  @apply w-11/12 mx-auto flex flex-col gap-2 lg:w-[75%] 2xl:w-[70%];
}

.title-h2 {
  @apply font-bold text-3xl md:text-4xl 2xl:text-5xl;
}

.txt {
  @apply text-lg 2xl:text-xl;
}

.fondi {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#3d3d3d 1.3px, #000000 1.3px);
  background-size: 26px 26px;
}
