$primary: #2b2bff;

.section {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
        &:nth-child(1) {
            font-size: 9em;
            font-weight: 700;
        }

        &:nth-child(2) {
            font-size: 1.1em;
        }
    }

    a {
        color: $primary;
        border: 1px solid $primary;
        width: max-content;
        margin: 0 auto;
        padding: 1em 4em;
        text-transform: uppercase;
        transition: all 400ms ease;
        font-size: 1.1em;
        &:hover {
            background: $primary;
            border-color: transparent;
            color: white;
        }
    }
}

@media screen and (min-width: 768px) {

    .content {
        font-size: 20px;
    }

}

@media screen and (min-width: 1024px) {

    .section {
        height: 95vh;
    }

    .content {
        font-size: 25px;
    }

}